
/* * {
  border: 1px solid red;
} */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
} 

body {
  background-color:#e2e8f0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
}   

header {
  display: grid;
  grid-column: 2 / 4;
  grid-template-columns: 1fr;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #ffffff;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  grid-gap: 20px;
}

#para {
  color: darkslategrey;
}

#search-svg, #profile-notification {
  min-width: 1.5rem;
}

#profile-picture {
border-radius: 50%;
width: 50px;
height: 50px;
}

#profile-main {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

#search-bar {
  border-radius: 50px;
  background-color: #e2e8f0;
  border-style: none;
  width: 350px;
  height: 30px;
}

.notification-container {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: end;
  grid-gap: 20px;
}

.search-notification-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-items: start;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}

.profile-buttons-container {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  justify-items: start;
  align-items: center;
  justify-content: space-between;
}

.profile-container {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  grid-gap: 20px;
  align-items: center;
}

.buttons-container {
  display: grid;
  grid-auto-flow: column;
  justify-items: end;
  grid-gap: 20px;
  align-items: center;
  align-items: center;
}

button {
  background-color: darkslateblue;
  border-style: none;
  border-radius: 50px;
  color: white;
  width: 100px;
  height: 40px;
}


nav { 
  display: grid;
  grid-column: 1 / 2;
  grid-row:  1 / 7;
  background-color: darkslateblue;
  color: white;
  padding: 15px;
  align-items: start;
}

.dashboard-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 1fr;
  align-items: start;
}

.sidebar-one, .sidebar-two {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
}

#dashboard-svg {
  width: 3rem;
  min-width: 3rem;
}

.item-container {
  display: grid;
  grid-auto-flow: column;
  justify-self: start;
  grid-gap: 10px;
  align-items: center;
}

.dashboard-one-svg, .dashboard-two-svg {
  width: 25px;
}

main {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 7;  
  align-content: start;
  padding: 20px;
  grid-gap: 10px;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  grid-gap: 20px;
}

.article .card {
  height: 320px;
}

.card {
  padding: 30px;
  display: grid;
  border-left: 10px solid darkblue;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}

.card-svg-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
  justify-items: end;
  align-items: end; 
  grid-gap: 30px;
}

.card-svg {
  width: 25px;
  height: 25px;  
}

aside {
  display: grid;
  grid-column: 3 / 6;
  grid-row: 2 / 7;
  align-content: start;
  padding: 20px;
  grid-gap: 20px;
}

.announcements {
  display: grid;
  align-items: start; 
  grid-gap: 10px;
}

.announcements-content {
  display: grid;
  grid-gap: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;  
  font-size: medium;
}

#profile-trending {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.trending-content {
  display: grid;
  grid-gap: 10px;
}

.trending-profile-container {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;  
  justify-items: start;
}

.trending-profile {
  display: grid;
  grid-auto-flow: column;
  align-items: start;
  grid-gap: 20px;
}