* {
    outline: 1px solid red;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
} 


.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
}   

header {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
}

nav {
  grid-row:  1 / 6;
  background-color: #1992d4;
  color: white;
}

main {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 6;  
}

aside {
  grid-column: 3 / 6;
  grid-row: 2 / 6;
}

